/**
 * (c) Copyright 2009-2016 Velocimetrics Ltd
 * All Rights Reserved
 * Permission is granted to licensees to use or alter this software for any purpose, 
 * including commercial applications, only according to the terms laid out in the
 * Software License Agreement.
 * All other use of this source code is expressly forbidden.
 */



.dc-chart .pie-slice {
    fill: white;
    font-size: 10px;
    cursor: pointer;
}

.dc-chart .pie-slice.external{
    fill: black;
}

path {
  stroke: black;
  stroke-width: 0.25px;
}

.country:hover{
  stroke: #fff;
  stroke-width: 1.5px;
}

.text{
  font-size:10px;
  text-transform:capitalize;
}

#container {
  margin:10px 10%;
  border:2px solid #000;
  border-radius: 5px;
  height:100%;
  overflow:hidden;
  background: #F0F8FF;
}

.hidden { 
  display: none; 
}

div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

.graticule {
  fill: none;
  stroke: #bbb;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.equator {
  stroke: #ccc;
  stroke-width: 1px;
}

.status-box {
  background: darkgreen;
  font-weight: bold;
  font-size: 20px;
  color: white;
  width: 60px;
  height: 50px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.panel-no-border {
  border: 0;
}
	
	
rect.system {
  rx: 10; 
  ry: 10; 
  stroke: black;
  fill: yellow; 
  fill-opacity: 0.05; 
}	

rect.container {
  rx: 10; 
  ry: 10; 
  stroke: black;
  fill: green; 
  fill-opacity: 0.05; 
}	

circle.process {
  rx: 10; 
  ry: 10; 
  stroke: black;
  fill: green; 
  fill-opacity: 0.05; 
}

line.link {
  stroke: black;
  fill: black; 
  stroke-width: 2;  
  stroke-opacity: 0.75;
  
}	

#cy {
	height: 90%;
	width: 90%;
	position: absolute;
	left: 0;
	top: 0;
}


